body{
    background-color: black;
}
.navbar{
    text-align: center;
    display: flex;
    flex-direction: row;
    color: white;
    font-weight: bold;
    list-style-type: none;
}
li{
    padding: 1.5rem;
}
.center{
    display: flex;
    justify-content: center;
}
.person-info{
    background-image: url("https://imgs.search.brave.com/4QHWA3H72b1sjqBkLiwo6EiMhFe3qYk_m_xDTr6pOR0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9kcmFtYXRpYy1w/b3J0cmFpdC1zdHJv/bmcteW91bmctbWFu/LWJsYWNrLXN0YW5k/aW5nLXdpdGgtYXJt/cy1jcm9zc2VkXzE4/MjUyNy05NTg0Lmpw/Zz9zZW10PWFpc19o/eWJyaWQmdz03NDA");
    width: 10rem;
    height: 10rem;
}